//---------------------------------------------------------------------------------------------------------------------------  Import Statements
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/grid";
@import "libs/typography"; 	
@import "libs/forms";	
@import "libs/flexslider";
@import "libs/icons";


//---------------------------------------------------------------------------------------------------------------------------  General Styles
body {width: 100%; @extend .clearfix;}
.container {@extend .clearfix; margin: 0 auto; max-width: 1596px; padding:0 20px;}
img{ max-width:100%; height:auto; }
button.view{ @extend .is-inline; padding:.75em 1.25em; text-align:center; color:$white; background:$highlight; border:none; @include border-radius(8px); @include leader(5); @include adjust-font-size-to(12px); }
button.small{ padding:.5em .875em; background:transparent; color:$highlight; border:1px solid $highlight; }
.lead{ @include column(12); p{ @include adjust-font-size-to(20px, 5); @include padding-trailer(2); @include padding-leader(2); color:$tertiary; font-weight:300; } }
.padded{ @include padding-leader(5); @include padding-trailer(7); }
.tinted{ background:lighten($tertiary, 35%); }


//---------------------------------------------------------------------------------------------------------------------------  Extends
.is-uppercase {text-transform:uppercase; letter-spacing:1px;}
.is-inline{@include inline-block();}
.is-centered{text-align:center;}
.clearfix{@include clearfix();}


//---------------------------------------------------------------------------------------------------------------------------  Header
.main-menu{
	display:none;
	position:fixed;
	z-index:9999;
	height:100%;
	width:100%;
	background:$primary;
	background:rgba(0,0,0, .85);
	ul{
		@extend .is-centered;
		height:100%;
		width:100%;
		padding:0;
		margin:0;
		li{
			@include adjust-font-size-to(32px);
			height:25%;
			padding:2.5% 0;
			a{
				color:$white;
			}
		}
	}
}

.fixed{
	position:fixed;
	top:0;
	width:100%;
	z-index:8888	;
	@include padding-leader(2);
	@include padding-trailer(2);
	@include transition-property(all);
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in-out);
}

.fixed.white{
	background:$highlight-opacity;
	@include transition-property(all);
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in-out);
}

.icon-logo{
	@extend .is-inline;
	width: 50px;
	height: 50px;
	margin:-.25em 0 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	text-indent: -99999px;
}

.icon-menu{
	float:right;
	z-index:8000;
	display:block;
	height:17px;
	width:22px;
	@include leader(2);
}


//---------------------------------------------------------------------------------------------------------------------------  Hero
.hero, .featured-hero{
	@extend .is-centered;
	background:$highlight;
	color:$white;
	@include trailer(5);
	a{
		color:$white;
	}
}

.home .hero{
	padding-top:5em;
	padding-bottom:5em;
}


//---------------------------------------------------------------------------------------------------------------------------  HomePage Slider
.slides{
	@include padding-leader(2);
	@extend .is-centered;
	.left, .right{ @include column(12); float:right; }
	img{
		display:block;
		margin:0 auto;
	}
}


//---------------------------------------------------------------------------------------------------------------------------  Portfolio
.project-list li{
	@include column(12);
}


//---------------------------------------------------------------------------------------------------------------------------  About Us
.about-us .lead.large {
	@include adjust-font-size-to(24px);
	p{ color:$primary; }
}


//---------------------------------------------------------------------------------------------------------------------------  Team
.team-member{
	@include column(12);
	position:relative;
	overflow:hidden;
	@include trailer(5);
	&:hover{
		.top{ 
			@include opacity(.15); 
			@include transition-property(opacity);
			@include transition-duration(.5s);
			@include transition-timing-function(ease-in-out);
		}
		.bottom{ 
			top:15%; 
			@include transition-property(top);
			@include transition-duration(.5s);
			@include transition-timing-function(ease-in-out);
		}
	}
	.top img{
		display:block;
		margin:0 auto;
	}
	.bottom{
		@extend .is-centered;
		position:absolute;
		top:-100%;
		left:1%;
		right:1%;
		width:98%;
	}
	.icons{
		@extend .clearfix;
		margin:0 auto;
		li{
			@extend .is-inline;
			list-style-type:none;
		}
	}
	.team-title{
		@extend .is-uppercase;
		@include adjust-font-size-to(12px);
		font-weight:600;
		color: $highlight;
	}
	.team-location{
		@include adjust-font-size-to(12px);
		margin: rhythm(1, 12px) 0 rhythm(3, 12px) 0;
	}
}



.icon-twitter, .icon-dribbble, .icon-instagram, .icon-mail, .icon-linkedin{
	@extend .is-inline;
	float:left;
	width: 30px;
	height: 30px;
	margin:0 5px;
	text-indent:-9999px;
	background-repeat: no-repeat;
	background-size: cover;
}


//---------------------------------------------------------------------------------------------------------------------------  Single Portfolio
.single-portfolio{
	background:#fafafa;
}
.intro-wrap{
	@include padding-leader(5);
	@include padding-trailer(5);
}

.intro{
	@include adjust-font-size-to(20px, 5);
	@include padding-trailer(2);
	color:$tertiary;
}

.project-category{
	@extend .is-uppercase;
	@include adjust-font-size-to(12px);
}

.project-details{
	@include padding-trailer(5);
	ul{ 
		list-style-type:none; 
		li{
			@include adjust-font-size-to(14px);
			color:$secondary;
			b{ color:$primary; }
		}
	}
} 

.single .project-image{
	@extend .clearfix;
	margin:0 auto 1em auto;
}

.project-footer{
	width:100%;
	display:inline-block;
	border-top:1px solid lighten($tertiary, 25%);
	border-bottom:1px solid lighten($tertiary, 25%);
}

.prev, .next, .all-work{
	@include padding-leader(4);
	@include padding-trailer(4);
}

.all-work{
	border-left:1px solid lighten($tertiary, 25%);
	border-right:1px solid lighten($tertiary, 25%);
}

.next, .all-work, .prev{
	@extend .is-centered;
	@include column(4);
}

.icon-prev, .icon-view-all-work, .icon-next{
	display:block;
	margin:0 auto;
	height:50px;
	width:50px;
}


//---------------------------------------------------------------------------------------------------------------------------  Footer
footer{
	color:$secondary;
	.footer-top{
		@include padding-leader(10);
		@include padding-trailer(10);
		@include adjust-font-size-to(14px);
		.footer-module{
			@include column(12);
			@include trailer(4);
		}
	}	
	.footer-bottom{
		@include adjust-font-size-to(14px);
		@include padding-leader(4);
		@include padding-trailer(4);
		border-top:1px solid lighten($tertiary, 25%);
	}
	.full-disclosure {
		display:none;
		p{ 
			@include adjust-font-size-to(24px, 6);
		}
	}
	.icon-love{
		display:inline-block;
		vertical-align:middle;
		height:10px;
		width:12px;
		background-size:cover;
		margin-top:-2px;
	}
}


//---------------------------------------------------------------------------------------------------------------------------  Media Queries

//----------------------------------------------------------------------------------------------------------  36em
@media screen and (min-width: 36em){ 
	.logo{
		width: 50px;
		height: 50px;
	}
	
	.main-menu ul li{ @include adjust-font-size-to(72px); }
	
	h1, .featured-hero h2 { 
		@include adjust-font-size-to(24px);
		font-weight:500;
	} 
	.intro{
		font-weight:300;
	}
	.hero, .featured-hero{
		@include trailer(10);
	}
	.home .hero{
		padding-top:10em;
		padding-bottom:10em;
	}
	.project-list li{
		@include column(6);
	}
	.project-images{
		@include column(12);
		img{
			display:block; margin:0 auto;
		}
		.project-image{
			@include trailer(4);
		}
	}
	footer .footer-top .footer-module{ @include column(6); @include trailer(5); }
	.team-member{ @include column(6); }
}


//----------------------------------------------------------------------------------------------------------  48em
@media screen and (min-width: 48em){
	.main-menu ul li{ @include adjust-font-size-to(84px); }
	
	h2 { 
		@include adjust-font-size-to(18px);
		margin: 0 0 rhythm(2, 18px) 0;
	} 
	.home .hero{
		padding-top:15em;
		padding-bottom:15em;
	}
	button.view{ padding:1em 2.25em; @include adjust-font-size-to(14px); }
	.project-list li{
		@include column(4);
	}
	.slides{
		text-align:left;
		.left{
			@include column(3);
			float:right; 
		}
		.right{
			@include column(7);
			@include pull(1);
			float:right; 
		}
	}
}


//----------------------------------------------------------------------------------------------------------  60em
@media screen and (min-width: 60em){
	.main-menu ul li{ @include adjust-font-size-to(120px); }
	
	.intro{
		@include column(7);
		@include push(1);
		float:right;
		@include adjust-font-size-to(32px, 7);
	}
	.project-details{
		@include column(3);
		@include pull(1);
		float:right;
	}
	.home .hero{
		padding-top:20em;
		padding-bottom:20em;
	}
	.project-list li{
		@include column(3);
	}
	.project-images{
		@include column(8);
		@include push(2);
		@include pull(2);
	}
	.intro-wrap{
		@include padding-leader(10);
		@include padding-trailer(20);
	}
	.padded{
		@include padding-leader(15);
		@include padding-trailer(17);
	}
	.lead {
		@include column(8);
		@include push(2);
		@include pull(2);
		p{
			@include adjust-font-size-to(32px, 7);
		}
	}
	.team-member{ @include column(3); }
}

//----------------------------------------------------------------------------------------------------------  70em
@media screen and (min-width: 70em){
	footer .footer-top .footer-module{ @include column(2); &:first-child{ @include push(2); } }
	footer .footer-bottom p{ @include push(2); }
}



//---------------------------------------------------------------------------------------------------------------------------  Print styles
@media print {body {font-size: percentage(10 / 16);@include adjust-leading-to(2);}}


//---------------------------------------------------------------------------------------------------------------------------  IOS specifics 
@media screen and (max-width: 769px) {-webkit-text-size-adjust:none;}